{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Visualizacion codigo QR</title>
  <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="h-screen w-full flex flex items-center justify-center bg-gray-200">
  <!-- component -->

  <div
    class="relative max-w-md mx-auto md:max-w-2xl mt-6 min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-xl mt-16">
    <div class="px-6">
      <div class="flex flex-wrap justify-center">
        <div class="w-full flex justify-center">
          <div class="relative">
            <img src="{% static 'images/silueta.jpg' %}"
              class="shadow-xl rounded-full align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-[150px]" />
          </div>
        </div>
        <div class="w-full text-center mt-20">
          <!-- <div class="flex justify-center lg:pt-4 pt-8 pb-0">
              <div class="p-3 text-center">
                <span
                  class="text-xl font-bold block uppercase tracking-wide text-slate-700"
                  >3,360</span
                >
                <span class="text-sm text-slate-400">Photos</span>
              </div>
              <div class="p-3 text-center">
                <span
                  class="text-xl font-bold block uppercase tracking-wide text-slate-700"
                  >2,454</span
                >
                <span class="text-sm text-slate-400">Followers</span>
              </div>

              <div class="p-3 text-center">
                <span
                  class="text-xl font-bold block uppercase tracking-wide text-slate-700"
                  >564</span
                >
                <span class="text-sm text-slate-400">Following</span>
              </div>
            </div> -->
        </div>
      </div>
      <div class="text-center mt-2">
        <h3 class="text-2xl text-slate-700 font-bold leading-normal mb-1">
          {{usuario.first_name}}
        </h3>
        <div class="text-xs mt-0 mb-2 text-slate-400 font-bold uppercase">
          <i class="fas fa-map-marker-alt mr-2 text-slate-400 opacity-75"></i>

          {{usuario.last_name}}
          <p></p>
          {{usuario.profile.cedula}}
        </div>
      </div>
      <div class="mt-6 py-6 border-t border-slate-200 text-center">
        <div class="flex flex-wrap justify-center">
          <div class="w-full px-4">
            <p>

            </p>
            <p class="font-light leading-relaxed text-slate-600 mb-4">

            </p>

            <div id="aviso" style="display: none;"
              class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
              <strong class="font-bold">¡Registro exitoso!</strong>
              <span class="block sm:inline">Hemos enviado a tu correo información</span>
              <span class="block sm:inline">sobre el evento y tu código QR.</span>
              <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                <svg onclick="ocultarAviso()" class="fill-current h-6 w-6 text-green-500 cursor-pointer" role="button"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <title>Close</title>
                  <path
                    d="M14.348 14.849a1 1 0 1 1-1.414 1.414l-3.536-3.535-3.536 3.535a1 1 0 0 1-1.414-1.414l3.536-3.535-3.536-3.536a1 1 0 1 1 1.414-1.414l3.536 3.536 3.536-3.536a1 1 0 1 1 1.414 1.414l-3.536 3.535 3.536 3.536z" />
                </svg>
              </span>
            </div>

            <p>Mi QR</p>

            <div class="container-fluid w-full flex items-center justify-center">
              <div class="text-center">

                <img src=' {{ruta}} ' alt="qrc">
                <div></div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script>
    function mostrarAviso() {
      var aviso = document.getElementById("aviso");
      aviso.style.display = "block";
      setTimeout(function () { aviso.style.display = "none"; }, 9000);
    }

    function ocultarAviso() {
      var aviso = document.getElementById("aviso");
      aviso.style.display = "none";
    }

    mostrarAviso();
  </script>


</body>

</html>